- 盡可能利用expo的生態，減少原生代碼的開發
- 盡可能使用expo的官方組件，減少第三方庫的依賴
- 盡可能使用expo的官方api，減少原生api的依賴
- 每次開發前先規劃，並寫文檔與進度放在docs資料夾下。開發完後，記錄文檔與進度。
- 盡可能使用react-hook-form來管理表單，減少表單的開發。
- 狀態管理盡可能使用zustand，減少其他狀態管理庫的依賴。
- 每個文件的開頭都要有註解，註解要包含文件名稱、作者、修改日期、文件描述。
